        <%- include("./partials/header.ejs")%>
        <%- include("./partials/sidebar.ejs")%>
        <main class="main-wrap">
            <%- include("./partials/nav.ejs")%>
            <section class="content-main">
               
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order detail</h2>
                        <p>Details for Order ID:#<%=orderData.orderId%></p>
                    </div>
                </div>
                <div class="card">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                <span> <i class="material-icons md-calendar_today"></i> <b>,<%=orderData.createdAt%></b> </span> <br />
                                <small class="text-muted">Order ID: #<%=orderData.orderId%></small>
                            </div>
                            <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                <select class="form-select d-inline-block mb-lg-0 mr-5 mw-200" id="statusSelect">
                                    <option value="">Change status</option>
                                    <option value="Pending" >Pending</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Delivered">Delivered</option>
                                    <option value="Cancelled">Cancelled</option>
                                    <option value="Returned">Returned</option>
                                </select>
                                <a class="btn btn-primary" id="saveButton"  data-id="<%=orderData.orderId%>" >Save</a>
                                <a class="btn btn-secondary print ms-2"><i class="icon material-icons md-print"></i></a>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="row mb-50 mt-20 order-info-wrap">
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Customer</h6>
                                        <p class="mb-1">
                                            <%=orderData.userId.name%> <br />
                                            <%=orderData.userId.email%><br />
                                            <%=orderData.userId.mobilenumber%>
                                        </p>
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-local_shipping"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Order info</h6>
                                        <p class="mb-1">
                                            Shipping: Fargo express <br />
                                            Pay method: <%=orderData.payment%><br />
                                           
                                        </p>
                                       
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-place"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Deliver to</h6>
                                        <p class="mb-1">
                                            City:<%=orderData.deliveryAddress.city%>, <%=orderData.deliveryAddress.country%><br /><%=orderData.deliveryAddress.addressline%><br />
                                            <%=orderData.deliveryAddress.zipcode%>
                                        </p>
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                        </div>
                        <!-- row // -->
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="40%">Product</th>
                                                <th width="20%">Unit Price</th>
                                                <th width="20%">Quantity</th>
                                                <th width="20%" class="text-end">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%orderData.orderedItems.forEach(i=>{%>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                            <img src="/multer/products/<%=i.image%>" width="40" height="40" class="img-xs" alt="Item" />
                                                        </div>
                                                        <div class="info"><%=i.productname%></div>
                                                    </a>
                                                </td>
                                                <td><%=i.price%></td>
                                                <td><%=i.quantity%></td>
                                                <td class="text-end"><%=i.totals%></td>
                                            </tr>
                                            <%})%>
                                            
                                            <tr>
                                                <td colspan="4">
                                                    <article class="float-end">
                                                        <dl class="dlist">
                                                            <dt>Subtotal:</dt>
                                                            <dd><%=orderData.orderAmount%></dd>
                                                        </dl>
                                                        <dl class="dlist">
                                                            <dt>Shipping cost:</dt>
                                                            <dd>0</dd>
                                                        </dl>
                                                        <dl class="dlist">
                                                            <dt>Grand total:</dt>
                                                            <dd><b class="h5"><%=orderData.orderAmount%></b></dd>
                                                        </dl>
                                                        <dl class="dlist">
                                                            <dt class="text-muted">Status:</dt>
                                                            <dd>
                                                                <span class="badge rounded-pill alert-success text-success"><%=orderData.status%></span>
                                                            </dd>
                                                        </dl>
                                                    </article>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- table-responsive// -->
                            </div>
                            <!-- col// -->
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <div class="box shadow-sm bg-light">
                                    <h6 class="mb-15">Payment info</h6>
                                    <p>
                                      COD
                                    </p>
                                </div>
                                
                            </div>
                            <!-- col// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
            </section>
            <!-- content-main end// -->
            <%- include("./partials/footer.ejs")%>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>
            document.getElementById("saveButton").addEventListener("click", function() {
                var statusSelect = document.getElementById("statusSelect");
                var selectedValue = statusSelect.value;
                console.log("Selected value:", selectedValue);
                const orderId=this.getAttribute('data-id');
                axios.post('/admin/changestatus',{orderId,selectedValue})
                .then((response)=>{
                    if(response.data===true){
                        window.location.reload();
                    }
                    console.log('status updated');
                }).catch((error)=>{
                    console.log(error.message);
                })
            });
        </script>
            