<%- include("./header.ejs")%>
<link href="https://cdn.jsdelivr.net/npm/notyf@3/dist/notyf.min.css" rel="stylesheet">
<%- include("./partials/navbar.ejs")%>
		
		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Shop</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">
					<% productData.forEach(i=>{%>
		      		<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="/productdetail/<%= i._id %>">
							<img src="\multer\products\<%=i.image[0]%>" class="img-fluid product-thumbnail">
							<h3 class="product-title"><%=i.productName%></h3>
						</a>
						<div class="d-flex justify-content-around ">
							<strong class="product-price"><%=i.price%>₹</strong>
						    
							<button class="btn btn-close-white addToCartBtns"  data-id ='<%= i._id %>' data-name="<%= i.productName %>">Add to cart</button>
						</div>
					</div> 
					<!-- End Column 1 -->
					<%})%>
		      	</div>
		    </div>
		</div>


		<%- include("./footer.ejs")%>
		<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
		
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
	document.addEventListener('DOMContentLoaded',function(){
		const notyf = new Notyf({
        position: {
            x: 'right',
            y: 'top',
        }
    });

const addToCartBtns= Array.from(document.getElementsByClassName('addToCartBtns'));
	addToCartBtns.forEach(i => {
		i.addEventListener("click", function () {
		console.log('clicked')
		const productid=this.getAttribute('data-id');
		const productname =this.getAttribute('data-name');
     	axios.get(`/addtocart/${productid}`)
        .then((response) => {
          console.log(response.data);
		  if(response.data===("nosession")){
			
			notyf.error('You should be logged in to add items to the cart');
		  }else{
			notyf.success(`${productname} is added to your cart succesfully!`); 
		  }
        })
        .catch((error) => {
          console.error("Error adding item to cart:", error);
        });
    });
	});
})
</script>
	</body>

</html>
